 .PrincipalContainer {

     font-size: 12px;

 }

 .SquadStand {
     border: 2px solid black;
     padding-top: 25px;
     padding-bottom: 25px;
 }

 .SquadStandCol2 {
     border: 2px solid black;
     padding-top: 2px;
     padding-bottom: 2px;
 }

 .SquadStandCol3 {
     border: 2px solid black;
     padding-top: 15px;
     padding-bottom: 15px;
 }

 .SquadStandCol4 {
     border: 2px solid black;
     padding-top: 30px;
     padding-bottom: 30px;
 }

 .SquadStandCol4_1 {
     border: 2px solid black;
     padding-top: 5px;
     padding-bottom: 5px;
 }

 .SquadStandCol4_2 {
     border: 2px solid black;
     padding-top: 61.7px;
     padding-bottom: 61.7px;
 }

 .SquadStandCol4_3 {
     border: 2px solid black;
     padding-top: 40px;
     padding-bottom: 40px;
 }

 .SquadStandCol4_4 {
     border: 2px solid black;
     padding-top: 5px;
     padding-bottom: 5px;
 }

 .SquadStandCol4_5 {
     border: 2px solid black;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .SquadStandCol4_6 {
     border: 2px solid black;
     padding-top: 9.3px;
     padding-bottom: 9.3px;
 }

 .SquadStandCol5 {
     border: 2px solid black;
     padding-top: 7px;
     padding-bottom: 7px;
     text-align: left;
 }


 .SquadStandCol6 {
     border: 2px solid black;
     padding-top: 30px;
     padding-bottom: 30px;
 }

 .SquadStandCol7 {
     border: 2px solid black;
     padding-top: 28.5px;
     padding-bottom: 28.5px;
 }

 .SquadStandCol0 {

     padding-top: 2px;
     padding-bottom: 2px;

 }

 .SquadStandCol0_6 {

     padding-top: 2px;
     padding-bottom: 2px;
     text-align: right;

 }

 .SquadStandCol0_1 {
     border: 2px solid black;
     padding-top: 12px;
     padding-bottom: 12px;
     font-size: 30px;
     color: #FDCA04;
     font-weight: bolder;


 }

 .SquadStandCol0_2 {
     border: 2px solid black;
     padding-top: 8px;
     padding-bottom: 8px;
     font-size: 25px;
     color: #5D5B5E;
     font-weight: bolder;
 }

 .SquadStandCol8 {
     border: 2px solid black;
     padding-top: 150px;
     padding-bottom: 6px;
 }

 .SquadStandCol9 {

     padding-top: 50px;
     padding-bottom: 6px;
     text-align: left;

 }

 .SquadStandCol10 {

     padding-top: 20px;
     padding-bottom: 6px;
     text-align: left;

 }

 .SquadStandCol11 {
     border: 2px solid black;
     padding-top: 20px;
     padding-bottom: 6px;
     text-align: left;

 }

 .SquadStandCol12 {
     border: 2px solid black;
     padding-top: 50px;
     padding-bottom: 6px;
     text-align: center;

 }